@import "../../../style/variables";
@import "../../../style/utility";
@import "../../../style/breakpoint";

.activity {
  @include u-flex;
  height: 80px;
  width: 100%;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.3);
  margin: 0.3rem 0;
  text-align: center;
  h5 {
    color: $grey;
  }
  .activityTitle {
    width: 30%;
  }
  .activityLogo {
    width: 20%;
    height: 100%;
    object-fit: cover;
  }
  .activityDuration {
    @include u-flex;
    width: 20%;
    height: 100%;
    i {
      padding-right: 5px;
      color: $grey;
    }
  }
  .activityTiming {
    @include u-flex;
    width: 20%;
    height: 100%;
    h4 {
      padding-right: 5px;
    }
  }
  .activityStatus {
    @include u-flex(column);
    width: 20%;
    height: 100%;
  }
  .activityButton {
    width: 10%;
  }
  i {
    padding: 0 20px 0 30px;
    cursor: pointer;
  }
}

/****************************************************
* RESPONSIVE
****************************************************/

@include small-mobile {
  .activity {
    display: unset;
    height: 150px;
    width: 80%;
    padding: 60px;
    position: relative;
    overflow: hidden;
    text-align: left;
    .activityLogo {
      display: none;
    }
    .activityTitle {
      position: absolute;
      @include u-flex(row, flex-start);
      top: 34%;
      left: 3%;
      color: $blue;
      width: 100%;
      font-size: 18px;
      i {
        padding: 0;
        margin-left: 8px;
        font-size: 14px;
      }
    }
    .activityDuration {
      position: absolute;
      top: -30%;
      right: 5%;
      width: 100px;
    }
    .activityTiming {
      justify-content: initial;
      position: absolute;
      font-size: 16px;
      top: -30%;
      left: 3%;
    }
    .activityStatus {
      align-items: flex-start;
      justify-content: initial;
      position: absolute;
      font-size: 14px;
      top: 65%;
      left: 3%;
      width: 100%;
      h4 {
        padding-bottom: 5px;
        font-size: 13px;
        font-family: "DINOT-bold";
        color: $grey;
      }
    }
  }
}
