@import "../../style/variables";
@import "../../style/utility";

.alerts {
  height: 300px;
  @include u-flex(column);
  .alertsCto {
    width: 100%;
    @include u-flex(row, space-between, center);
    margin-bottom: 2rem;
    & > h3 {
      color: $blue;
      font-size: 16px;
      i {
        padding-right: 0.5rem;
      }
    }
    & > p {
      font-size: 12px;
      color: $orange;
      cursor: pointer;
    }
  }
  .alertsList {
    width: 100%;
    @include u-flex(column);
  }
}
