@import "./../../../style/variables";
@import "./../../../style/utility";
@import "./../../../style/breakpoint";

.button {
  width: 240px;
  min-height: 30px;
  color: $blue;
  font-family: "DINOT-bold";
  color: $blue;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  cursor: pointer;
  @include u-flex;
  p {
    padding: 10px 15px 7px 15px;
    z-index: 2;
  }
  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    opacity: 0;
    transform: skew(20deg);
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $yellow;
  }
  &:hover:before {
    animation-name: leftToRight;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
}

.buttonAvaible {
  background-color: $yellow;
  &:before {
    background-color: $darkYellow;
    z-index: 1;
  }
}

.buttonSubscribed {
  border: 2px solid $darkOrange;
  &:before {
    background-color: $darkOrange;
  }
}

.buttonWaiting {
  border: 2px solid $blue;
  &:before {
    background-color: $ciano;
  }
}

.buttonNotAvaible {
  background-color: $lightWhite;
  color: $grey;
  opacity: 0.7;
  cursor: not-allowed;
  &:before {
    background-color: rgb(53, 51, 51);
  }
}

.button.home{
    position: absolute;
    right: 3%;
    top: 50%;
    width: 120px;
    height: 40px;
    text-align: center;
}

.buttonHomeBanner.home{
  background-color: $yellow;
  color: $blue;
  left: 0;
  top: 130%;
  width: 200px;
  p {
    padding: 10px 20px;
    z-index: 2;
  }
}
/****************************************************
* RESPONSIVE
****************************************************/

@include small-mobile {
  .button {
    position: absolute;
    right: 3%;
    top: 50%;
    width: 120px;
    height: 40px;
    text-align: center;
  }
}
