@import "../style/variables";
@import "../style/utility";

.alerts{
  width: 100%;
  height: 86vh;
  min-height: 60vh;
  margin: 1rem;
  @include u-flex(column);
  h2{
    font-size: 40px;
    font-family: 'DINOT-bold';
    letter-spacing: 0.3rem;
    padding: 1rem;
    color: $blue;
  }
  img{
    max-height: 80vh;
    width: 100%;
    object-fit: cover;
  }
}