@import "./../../../style/variables";
@import "./../../../style/utility";
@import "./../../../style/breakpoint";

.badge {
  height: 100%;
  width: 1%;
}

.badgeOrange {
  background-color: $orange;
}

.badgePurple {
  background-color: $purple;
}

.badgeBlue {
  background-color: $blue;
}

.badgeCiano {
  background-color: $ciano;
}

.badgeGreen {
  background-color: $green;
}

/****************************************************
* RESPONSIVE
****************************************************/

@include small-mobile {
  .badge{
    position: absolute;
    right: -5px;
    top: 10%;
    width: 15px;
    height: 10px;
    border-radius: 30%;
  }
}