@import "../../style/variables";
@import "../../style/utility";
@import "../../style/breakpoint";

.filters {
  width: 100%;
  height: 220px;
  margin-bottom: 100px;
  @include u-flex(column);
  .filtersCalendarWrapper {
    width: 100%;
    height: 55%;
    background-color: $yellow;
    .filtersCalendar {
      width: 100%;
      height: 100%;
      margin-left: 20%;
      background-color: $blue;
      transform: skew(20deg);
      @include u-flex;
      i {
        font-size: 16px;
        color: $yellow;
        transform: skew(-20deg);
        padding: 0 10px;
        cursor: pointer;
        &:last-child {
          margin-right: calc(40% - 52px);
        }
        &:hover {
          color: white;
        }
      }
    }
  }
  .filtersSelectionWrapper {
    position: relative;
    width: 100%;
    height: 45%;
    background-color: white;
    .filtersSelection {
      position: absolute;
      width: 100%;
      height: 100%;
      left: -10%;
      background-color: $yellow;
      transform: skew(20deg);
      @include u-flex;
      .filtersMobileToggle {
        display: none;
      }
      .selector {
        width: 250px;
        position: relative;
        transform: skew(-20deg);
        color: $blue;
        padding: 0.3%;
        margin-right: 10%;
        border-bottom: 1px solid $blue;
        @include u-flex;
        .selectorText {
          padding: 0 40px 0 10px;
        }
        &:last-child {
          margin-right: 0;
        }
        &:first-child {
          margin-left: 15%;
        }
        i {
          cursor: pointer;
        }
      }
    }
  }
  .filtersSelectionWrapper.filtersActive {
    display: flex;
  }
}

/****************************************************
* RESPONSIVE
****************************************************/

@include small-mobile {
  .filters {
    height: unset;
    justify-content: unset;
    margin-bottom: 60px;
    .filtersCalendarWrapper {
      height: 130px;
      .filtersCalendar {
        margin-left: 0;
        transform: skew(0deg);
        i {
          display: none;
        }
      }
    }
    .filtersSelectionWrapper {
      height: 350px;
      transition: all 0.3s ease-out;
      .filtersSelection {
        transform: skew(0deg);
        flex-direction: column;
        left: 0%;
        .filtersMobileToggle {
          @include u-flex;
          font-size: 12px;
          color: $blue;
          font-family: "Helvetica Neue";
          margin-bottom: 1.5rem;
          cursor: pointer;
          i {
            font-size: 12px;
            padding-right: 0.5rem;
          }
        }
        .selector {
          position: relative;
          width: 80%;
          padding: 0.3rem 0.5rem;
          transform: skew(0deg);
          margin-left: 0 !important;
          margin-right: 0;
          margin: 1rem 0;
          justify-content: space-between;
          z-index: 1;
          p {
            text-align: left;
            width: 100%;
            padding-left: 0.3rem;
          }
        }
      }
    }
  }
  .filtersSelectionWrapper.filtersActive {
    height: 50px;
    .filtersSelection {
      .filtersMobileToggle {
        margin-bottom: 0;
      }
      .selector {
        display: none;
      }
    }
  }
}
